/*GOOGLE FONT Poppins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

p{
    margin-bottom: 0;
}

/*********landing page***********/

.landing-page{
    background: url(images/pink-bg-1.png);
    background-repeat: no-repeat;
    /*background-size:cover;*/
    background-position: bottom center;
    padding-bottom: 70px;
    width: 100%;
    height: auto;
    color: white;
    position: relative;
    margin-bottom: 80px;
}

.navbar .container{
    background-color: #FF4363;
}

.logo{
    font-size: 40px;
}

.landing-page-contents{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.landing-page h1{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 50px;
}

.landing-page p{
    font-size: 18px;
    margin-bottom: 30px;
}

.download-watch-video-section{
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.download-app-btn{
    width: 200px;
    height: 50px;
    font-weight: 500;
    border: none;
    background-color: white;
    color: #FF4363;
    border-radius:50px;
    padding: 0 20px;
    font-size: 20px;
}

.Watch-Video{
    text-decoration: none;
    color: white;
    font-size: 20px;

}

.landing-page a img{
    width:16px;
    height:20px;
    margin-right: 10px;
}



.landing-page-illustration{
    width: 450px;
    /*position: absolute;
    bottom: 40px;
    right: 40px;*/
}


/********Cards**********/

.cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}

.card-div{
    width: 350px;
    height: 370px;
    text-align: center;
    box-shadow: 2px 2px 10px rgba(73, 157, 235, 0.5);
    padding: 30px;  
}

.circle-for-card{
    position: relative;
    margin: 0 auto;
    margin-bottom: 20px;
    height: 100px;
    width: 100px;
    background-color:#FFF4F5;
    border-radius: 50%;
}

.circle-for-card img{
    width: 45px;
    position: absolute;
    top: 25px;
    right: 28px;
}

.card-div h4{
    font-size:24px ;
}

.card-div p{
    font-size: 18px;
    color:#666666;
    margin-top: 20px;

}

/*****We-designed-perfect-app-for-you*********/

.We-designed-perfect-app-for-you{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}

.We-designed-perfect-app-for-you-img{
    width: 45%;
}

.We-designed-perfect-app-for-you>div{
    width: 45%;
}

.circle-div{
    position: relative;
    margin-bottom: 20px;
    height: 100px;
    width: 100px;
    background-color:#FFF4F5;
    border-radius: 50%;
}

.music-icon{
    position: absolute;
    width:50px;
    left: 21px;
    top:23px;

}

.We-designed-perfect-app-for-you div h2{
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 30px;
}

.We-designed-perfect-app-for-you div p{
    color: #666666;
    font-size: 18px;
    margin-bottom: 30px;
}

.We-designed-perfect-app-for-you div ul{
    font-size: 18px;
    list-style: none;
    margin-bottom: 20px;
}

.We-designed-perfect-app-for-you div ul li::before {
    content: "\2022";
    color: #FF4363;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
  }

  .We-designed-perfect-app-for-you div button{
    background-color: #FF4363;
    color: white;
    border: none;
    border-radius: 50px;
    width: 130px;
    height: 40px;
    font-size: 16px;
  }

/*******our-app-features*******/

.our-app-features{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
    
} 

.our-app-features>div{
    width: 45%;
}

.circular-div{
    position: relative;
    height: 100px;
    width: 100px;
    background-color:#FFF4F5;
    border-radius: 50%;
}

.heart-icon{
    position: absolute;
    width:50px;
    top: 30px;
    left: 25px;
}

.our-app-features div h2{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
}

.pink-circle{
    position: relative;
    height: 70px;
    width: 70px;
    background-color:#FFF4F5;
    border-radius: 50%;
    flex-shrink: 0;
}

.icons{
    position: absolute;
    top:20px;
    left:21px ;
}

.our-app-features-sub-heading{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.our-app-features-sub-heading h5{
    margin-left: 20px;
    font-size: 24px;
    font-weight: 500;
}

.our-app-features div p{
    color: #666666;
    font-size: 18px;
    margin-bottom: 30px;
}

.our-app-features-img{
    width:45%;
}

/********get-your-app********/

.get-your-app{
    padding-top: 20px;
    background: url(images/pink-background-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    width: 100%;
    height: auto;

    margin-bottom: 140px;
    
}

.get-your-app-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.get-your-app-main>div{
    width:45%;
}

.get-your-app-for-next-waay-img{
    /*width: 540px;
    height: 530px;*/
    width: 45%;
}

.get-your-app div{
    text-align: left;
    color: white;
}

.get-your-app div h2{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
}

.get-your-app div p{
    font-size: 18px;
    margin-bottom: 30px;
}

.get-your-app div button{
    width: 130px;
    height: 40px;
    background-color: #FFFFFF;
    font-size: 16px;
    color: #FF4363;
    border: none;
    border-radius: 50px;
}



/**********have-any-question**********/

.have-any-question{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;

}

.have-any-question div:first-child{
    width:600px;
}

.have-any-question div h2{
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: 600;
}


.have-any-question div h5{
    color:#FF7588;
    font-size: 24px;
    margin-bottom: 15px;
}

.have-any-question div div{
    width: 80%;
    color:#666666;
    margin-bottom: 50px;
}
.have-any-question p:first-child{
    font-size: 18px;
}


.have-any-question-img{
    width: 400px;
    height: 500px;
}

/********downloads-ratings-etc***********/

.downloads-ratings-etc{
    height: 300px;
    background-color: #FF4363;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    margin-bottom: 50px;
    border-radius: 5px;
}

.downloads-ratings-etc div{
    text-align: center;
}

.downloads-ratings-etc div p:first-child{
    font-size:60px;
}

.downloads-ratings-etc div p:last-child{
    font-size:18px;
}

/*******Still Not Lucky?******/

.still-not-lucky div{
    text-align: center;
    width: 600px;
    height: 250px;
}

.still-not-lucky div h2{
    color: #222222;
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 20px;
}

.still-not-lucky div p{
    font-size: 18px;
    color: #666666;
    margin-bottom: 30px;
}

.still-not-lucky div button{
    background-color: #FF4363;
    color: white;
    border: none;
    border-radius: 50px;
    width: 130px;
    height: 40px;
    font-size: 16px;
    margin-bottom: 30px;
}



/*******FOOTER***********/

footer{
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

footer>div{
    text-align: center;
}

footer>div p:first-child{
    font-size: 40px;
    font-weight: 600;
}